#calculator {
    margin: auto;
    margin-top: 15px;
    width: 300px;
    display: block;
    padding: 0;
}

#numberContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#numberContainer div div {
    margin-top: 7px;
}

#header {
    position: relative;
    background-color: rgb(60, 60, 60);
    border: 5px solid black;
    color: white;
    height: 90px;
    font-size: 40px;
    margin-top: -5px;
    margin-left: -5px;
}

#header-content {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.button {
    width: 60px;
    height: 60px;
    border: 5px solid black;
    background-color: red;
    text-align: center;
    font-size: 40px;
    padding: 5px;
    margin-top: -5px;
    margin-left: -5px;
    align-items: center;
}

.number {
    background-color: red;
}

.number:active {
    background-color: darkred;
}

.function {
    background-color: lightgray;
}

.function:active {
    background-color: gray;
}

html, body {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
}

a:hover {
    color: rgb(111, 160, 233);
}

a {
    margin: auto;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
    width: 100px;
    font-size: 30px;
    background-color: black;
    border: 0.5px solid black;
    border-radius: 10px;
    color: rgb(225, 193, 231);
    padding: 5px;
    display: block;
}