html, body {
    background-color: #FFFAFA;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neurial Grotesk", Roboto, system, -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #57586e;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 5px 5px rgb(200,200,200);
    justify-content: space-between;
    padding: 7.5px 10px 7.5px 10px;
    display: flex;
    font-size: 17px;
    z-index: 128;
}

.header-items {
    text-decoration: none;
    color: #57586e;
    margin: 10px 15px 10px 15px;
    text-align: center;
    font-size: 20px;
}

.header-items:hover {
    color: black;
}

#get-started {
    text-decoration: none;
    color: #175cff;
    border: 0.5px solid rgb(201, 200, 200);
    font-size: 20px;
    border-radius: 22px;
    text-align: center;
    padding: 10px;
    transition: 0.2s;
}

#get-started:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 2px rgb(200,200,200);
    transition: all 0.2s ease-in-out 0s;
}

#logo {
    background-color: white;
    padding: 0;
}

#header-middle {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

#header-right {
    background-color: white;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

#logoImage {
    border-radius: 21.5px;
    display: block;
    float: left;
}

#logoName {
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin: 4.5px 0 4.5px 20px;
    color: black;
}

.two-columns {
    display: grid;
    grid-template-columns: auto auto;
}

#pen-information {
    margin-top: 80px;
    width: 65%;
    margin-left: 100px;
}

h1 {
    color: black;
    font-size: 55px;
}

p {
    font-size: 17px;
    line-height: 30px;
}

#stockImageOne {
    margin-top: 100px;
    margin-right: 100px;
    border-radius: 10px;
}

#options-button {
    text-decoration: none;
    display: block;
    background-color: #175cff;
    width: 150px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    text-align: center;
    padding: 15px;
    transition: 0.2s;
    margin-top: 50px;
}

#options-button:hover {
    background-color: #0047f0;
    border-color:  #0047f0;
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgb(118, 109, 255);
    transition: all 0.2s ease-in-out 0s;
}

.list-check {
    list-style: none;
    margin-top: 50px;
    padding-inline-start: 0;
}

.list-check li {
    padding-left: 30px;
    padding-top: 2px;
    position: relative;
    margin-bottom: 12px;
    font-size: 17px;
}

.list-check li:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url("Website Images/check.png") no-repeat center;
    background-size: 20px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 0;
}

#stockImageTwo {
    margin-top: 150px;
    margin-left: 100px;
    border-radius: 10px;
}

#pen-pricing {
    margin-top: 120px;
    margin-left: 150px;
    width: 65%;
}

#truck-parallax {
    /* The image used */
    background-image: url("Website Images/Truck.jpg");
  
    /* Set a specific height */
    margin-top: 200px;
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / span 2;
    width: 100%;
}

#shipping-information {
    grid-column: 1 / span 2;
    text-align: center;
    width: 65%;
    margin: auto;
}

#shipping-path {
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /*background-color: lightblue;*/
}

#computerSymbol {
    margin-left: 100px;
    margin-top: 37.5px;
}

#downwardsArrow {
    margin-top: 225px;
}

#warehouseSymbol {
    margin-top: 25px;
}

#truckSymbol {
    margin-right: 100px;
    margin-top: 75px;
}

footer {
    width: 100%;
    background-color:  #175cff;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    grid-template-columns: auto auto auto auto;
}

#footer-column-1 {
    margin-left: 100px;
    width: 214px;
}

#footer-column-1 img {
    float: left;
}

#footer-logo-text {
    margin-left: 25px;
    float: left;
    font-size: 20px;
}

#stay-connected {
    margin-top: 100px;
    font-size: 20px;
}

#phone-number {
    font-size: 29.5px;
    font-weight: bold;
    margin-bottom: -50px;
}

#media-images {
    display: flex;
    justify-content: space-between;
}

#footer-column-2{
    display: grid;
    grid-template-columns: auto;
}

#footer-column-2 a{
    height: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

#footer-column-3{
    display: grid;
    grid-template-columns: auto;
}

#footer-column-3 a{
    height: 20px;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

#claims {
    margin-bottom: 100px;
}

#footer-column-4{
    height: 21px;
    display: grid;
    grid-template-columns: auto;
    margin-right: 100px;
}

#footer-column-4 a{
    height: 20px;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
}

#footer-column-4 div {
    height: 24px;
    margin-top: 10px;
}