html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

#title {
    margin-top: 200px;
    text-align: center;
}

#summary {
    width: 75%;
    margin-top: 75px;
    text-align: center;
    background-color: rgb(238, 221, 241);
    font-size: 30px;
    padding: 20px;
    border-radius: 50px;
}

header div {
    color:rgb(225, 193, 231);
    margin: 30px;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    font-size: 70px;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
}

footer div {
    margin: 30px;
    display: flex;
}

a {
    text-decoration: none;
    color:rgb(225, 193, 231);
    margin: 0;
    padding: 0;
}

.bg { 
    height: 100%;
    width: 100%;
    background-image: url("../images/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mediaLinks {
    display: grid;
    grid-template-columns: auto auto;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

li {
    background-color: rgb(225, 193, 231);
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    padding: 10px;
    width: 130px;
    height: 130px;
    border-radius: 30px;
    font-size: 45px;
}

.hMargins {
    margin-left: auto;
    margin-right: auto;
}