a:hover {
    color: rgb(111, 160, 233);
}

#portfolio-link {
    float: right;
}


#summary {
    height: 10vh;
    width: 75vh;
    background: rgb(238, 221, 241);
    position: fixed;
    bottom: 32.5vh;
    border-radius: 20px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    padding: 0 4vh 0 4vh;
}

#wrapper {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.remove-text-decoration {
    text-decoration: none;
    color: black;
}

.skills {
    display: inline-block;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-weight: bold;
}

.skills-box {
    border-radius: 10px;
    background: rgb(238, 221, 241);
    height: 7.5vh;
    width: 7.5vh;
    margin: 0 15px 0 15px;
    text-align: center;
}

.download-box {
    border-radius: 10px;
    background: rgb(238, 221, 241);
    height: 7.5vh;
    width: 9vh;
    margin: 0 75px 0 75px;
    text-align: center;
}

.navbar {
    position: fixed;
    padding: 2vh 4vh 2vh 4vh;
    width: 100%;
    background: black;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-text {
    color:rgb(225, 193, 231);
    text-decoration: none;
    font-size: 3vh;
    text-align: center;
}

.footer-image {
    text-decoration: none;
    margin-left: 8vh;
}

.footer-text {
    color:rgb(225, 193, 231);
    text-decoration: none;
    font-size: 2.5vh;
    text-align: center;
}

.h1-text {
    color: rgb(0, 0, 0);
    text-align: center;
}

.bg { 
    height: 100%;
    width: 100%;
    background-image: url("../images/Background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    margin-top: 0.5vh;
    vertical-align: middle;
}

ul {
    list-style: none;
    position: fixed;
    bottom: 18vh;
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding: 0;
}

footer {
    bottom: 0;
}

header {
    top: 0; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
    position: fixed;
    display: flex;
    align-self: center;
    top: 25vh;
}